---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('April 28 2023')}
	updatedDate={new Date('April 28 2023')}
	heroImage=""
>
	<p>
		Welcome to My personal website!  
	</p>
		福岡出身で現在は関東に在住しています。
		金融機関のIT部門に勤務したあと、IT企業に勤務しています。
		空いた時間でR,Scrapy,R-studioを使って、野球のデータ収集と分析をやっています。
		将来は福岡と関東で二拠点でITに関する仕事をしたいと思っています。
		いつかは自然に囲まれた環境でゆったりと好きなITに浸れればいいかなと。
		野球以外のページも増やしていければと考えています。
	<p>
	[免責事項]
		当サイトに掲載されている内容は正確な提供を努めておりますが、必ずしもそれを保証するものではありません。
		当サイトの情報を元に何かしらのデータを作成して損害が発生しても一切の責任を負いません。
		当サイト及びリンク先のサイトご利用時において利用者が被った損害に対しては、当方はいかなる責任も負わないものとします。
		本サイトのコンテンツは、予告なしに変更又は削除する場合があります。
	</p>
	<p>
	ENJOY！
	</p>
</Layout>
