---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello!</h1>
			<p>
			Welcome to My personal website "Baseball blog 2023"
			</p>
			Written by “hokmts” who lives and works in japan.
			Build with <a href="https://astro.build/">Astro</a>, 
			<a href="https://www.netlify.com/">netlify</a>
			<p>
			Love the Web!
			</P>
			<p>
			Back to the <a href="https://hokmts23.netlify.app/"> My portfolio </a> 
			</p>
		</main>
		<Footer />
	</body>
</html>
